*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul,ol{
   list-style: none;
}
section.wrapper{
   width: 90%;
   max-width: 1200px;
   align-items: center;
   margin: 0 auto;
}
button.submit :hover{
    opacity: .5;

}

section#login{
    background-color: #0d66b9;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;

    
}
section.title{

}
section.title span{
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    display: block;
    
}
section.title h1{
    color: #90ed56;
    font-weight: 700;
    font-size: 35px;
    display: inline-block;
    
}
section.title h3{
    color: #90ed56;
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    
}

section#login section.{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;

}

section#login div.top{
    margin-bottom: 30px;

}
section#login div.top h1 {
    font-size: 30px;
    font-weight: 700;
}

section#login div.bottom{

    
}
section#login div.bottom {

    
}
section#login div.bottom  div.top{
    display: flex;
    justify-content: space-between;


}

section#login div.bottom   div.top div.left{
    margin-right: 20px;


    
}
section#login div.bottom  div.top div.right{


    
}
section#login div.bottom label{
    font-size: 18px;
    font-weight: 500;

}
 
 
section#login div.bottom input{
   width: 100%;
   padding: 10px;
   border-radius: 8px;
   outline: none;
   border-style: solid ;
   border-color: #0d66b9;


}
section#login div.bottom input :hover{
    opacity: .5;
 
 
 }
section#login div.input_container{
    margin-bottom: 30px;
     
 }
 section#login div.submit_container{
    display: grid;
 
 }
 section#login div.submit_container p.error_message{
    color: red;
    
 }
 section#login div.submit_container button{
    width: 100%;
    border-radius: 12px;
    background-color: #90ed56;
    color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;

     
 }
 button :hover{
   background-color: #0d66b9;

     
 }
 section#login div.submit_container a{
    justify-self: flex-end;
    align-self:center ;

 }

 /* login and logout section completed */

 header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #0d66b9;
    height: 80px;
    align-items: center;

 }
 header section.left{
 
    
 }
 header section.left h1{
    
 }
 header section.left a{
    color: #fff;
 }
 header section.left a span{
    color: #90ed56;
    
 }
 header section.right{
    
 }
 header section.right a.button{
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #90ed56;
    color: #fff;
    margin-right: 15px;
    
 }
/* header section completed */


section#food_menu{
    margin-top: 40px;

}
section#food_menu div.title{
    margin-bottom: 30px;
    
}
section#food_menu div.title h1{
    font-size: 25px;
    font-weight: 600;
    
}
section#food_menu div.middle{
    
}
section#food_menu div.middle div.tab_head{
    
    
}
section#food_menu div.middle div.tab_head ul{
    display: flex;
    justify-content: space-between;

    
}
section#food_menu div.middle div.tab_head ul li{
    width: 25%;
    
}
section#food_menu div.middle div.tab_head ul li a{
    border-bottom: 2px solid #727272;
    color: #727272;
    display: block;
    font-size: 25px;
    font-weight: 600;
    
}
section#food_menu div.middle div.tab_head ul li a.active,
 section#food_menu div.middle div.tab_head ul li a.active:hover{
    border-bottom: 2px solid #0d66b9;
    color: #0d66b9;
    
}
section#food_menu div.middle section.tab_body{
    margin-top:80px;
    
}
section#food_menu div.middle section.tab_body div.item{
    display: none;

    
}
section#food_menu div.middle section.tab_body div.active{
    color: #0d66b9;
    display: block;
    
}
section#food_menu div.middle section.tab_body div.active ul{
    display: flex;
    justify-content: space-between;
    
}
section#food_menu div.middle section.tab_body div.active ul li{

    width: 30%;
    
    
}
section#food_menu div.middle section.tab_body div.active ul li img{
    
    display: block;
    width: 100%;
    height: 240px;
    border-radius: 12px;
    margin-bottom: 20px;

    
}
section#food_menu div.middle section.tab_body div.active ul li h3{
    font-size: 18px;
    font-weight: 600;
    color: #727272;
    margin-left: 40px;
    
    
}
section#food_menu div.middle section.tab_body div.active a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #0d66b9;
    padding: 10px 16px;
    display: inline-block;
    margin: 30px 0 ;
    border-radius: 10px;
    
    
}
/* index page completed */

section#plan{
    margin-top: 40px;
   

}
section#plan div.top{
    
}
section#plan div.top div.date{
    
}
section#plan div.top div.date h1{
    margin-bottom: 10px;
    
}
section#plan div.top div.date h4{
    
}
section#plan div.top div.days{
    align-items: center;
    margin: 30px 0;
    
    
}
section#plan div.top div.days ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    
}
section#plan div.top div.days ul li.item{
    background-color: #fff;
    border: 2px solid #727272;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;


    
}
section#plan div.top div.days ul li.active{
    background-color: #0d66b9;
    border: 2px solid #0d66b9;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: center;


    
}
section#plan div.top div.days ul li.item a{
    color: #0d66b9;
    display: block;
    
}
section#plan div.top div.days ul li.active a{
    color: #fff;
    display: block;
    
}
section#plan div.top div.days ul li a span{
    display: block;

    
    
}
section#plan div.meals{
    background-color: #b6b5b5;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 20px;
    
}
section#plan div.meals  div.item{
    margin-bottom: 20px;
    
}
section#plan div.meals  div.item div.menu_head{
    padding: 5px 20px;
    background-color: #0d66b9;
    border-radius: 20px;
}
section#plan div.meals div.item div.menu_head h3{
    font-weight: 600;
    font-size: 25px;
    color:#fff;
    
    
}
section#plan div.meals  div.item div.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    
}
/* section#plan div.meals  div.item div.breakfast{
background-color: rgb(158, 241, 158);
    
}
section#plan div.meals  div.item div.lunch{
    background-color: rgb(186, 166, 233);
        
}
section#plan div.meals  div.item div.snack{
    background-color: rgb(233, 166, 166);
        
}
section#plan div.meals  div.item div.dinner{
    background-color: rgb(232, 233, 166);
        
} */

/* section#plan div.meals  div.item div.menu label.radio span.active {
    color: #c96d16;
    font-weight: 700;
    font-size: 16px;
    } */
    section#plan div.meals div.item div.menu 
    input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}

    
    section#plan div.meals div.item div.menu 
    label.radio {
    color: #4f5757;
    font-weight: 700;
    font-size: 16px;
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 35px;
    margin-right: 70px
}

    
    section#plan div.meals div.item div.menu 
    label
    span {
    color: #4f5757;
    font-weight: 700;
    font-size: 16px;
}

    
    section#plan div.meals div.item div.menu 
    label.radio
    input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    left: -2000px;
}

    
section#plan div.meals div.item div.menu 
    label.radio
    input:checked
    ~ .radio {
    background-color: #fff;
}

    
section#plan div.meals div.item div.menu 
    label.radio
    input:checked
    ~ .radio::after {
    opacity: 1;
}

    
section#plan div.meals div.item div.menu 
    label.radio
    input:checked
    ~ .label {
    opacity: 1;
}

    
section#plan div.meals div.item div.menu 
    label.radio
    .radio {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #727272;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
}

    
section#plan div.meals div.item div.menu 
    label.radio
    .radio::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #727272;
}

section#plan div.ready{
    margin-top: 70px;
}
section#plan div.ready a.button{
    border: 1px solid #0d66b9;
    background-color:#0d66b9 ;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    width: 70%;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;

}
section#plan div.ready a.button:hover{
    background-color:#90ed56 ;
    color: #fff;
    border: 1px solid #90ed56;


}
section#plan div.duplicate{
    border: 3px solid #b6b5b5;
    border-radius: 20px;
    margin-top: 80px;
    padding: 40px;
}
section#plan div.duplicate h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
section#plan div.duplicate div.selection{
    margin-bottom: 30px;
    
}
section#plan div.duplicate div.selection a.b_delete{
    margin-top: 15px;
    display: block;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid none;
    padding: 8px 12px;
    color: #fff;
    width: 15%;
    background-color: #0d66b9;
    text-align: center;
    
}
section#plan div.duplicate div.selection a.b_delete:hover{
    background-color: #90ed56;
    color: #0d66b9;

 
    
}
section#plan div.duplicate label{
    font-size: 20px;
    font-weight: 700;
    color: #0d66b9;


}
section#plan div.duplicate input{
    font-weight: 600;
    font-size: 20px;
    color: #90ed56;
    border: none;
    outline: none;
}
section#plan div.duplicate div.submit{
    text-align: center;
    margin-top: 40px;
}
section#plan div.duplicate div.submit button{
    padding: 12px 16px;
    font-weight: 600;
    font-size: 18px;
    border:1px solid #0d66b9 ;
    border-radius: 20px;
    color: #fff;
    background-color: #0d66b9;
    display: inline-block;
    width: 60%;
    text-align: center;
    cursor: pointer;
    outline: none;
    
}
section#plan div.duplicate div.submit button:hover{
    color: #fff;
    background-color: #90ed56;
    border:1px solid #90ed56 ;
    
}