<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "web/includes/header.html" %}

    <section id="profile">
        <section class="wrapper">
            <section class="user_data">

                <form action="" method="post" class="ajax redirect" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        <label for="{{ userform.mob_number.id_for_label }}">{{ userform.mob_number.label_tag }}</label>
                        {{ userform.mob_number }}
                        <label for="{{ userform.student_id.id_for_label }}">{{ userform.student_id.label_tag }}</label>
                        {{ userform.student_id }}
                        <label for="{{ userform.profile_image.id_for_label }}">{{ userform.profile_image.label }}</label>
                        {{ userform.profile_image }}
                    </div>
                    <button type="submit">Update Profile</button>
                </form>



            </section>

        </section>
    </section>

   
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>