<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <section id="login">
        <section class="title">
            <span>welcome to <h1> Meal</h1> planner</span>
            <h3>select your favourite meals</h3>
        </section>
        <section class="form">
            <div class="top">
                <h1>Student Login</h1>
            </div>
            <div class="bottom">
                <form action="" method="post">
                {% csrf_token %}

                    <div class="input_container">
                        <label for="id_username">Username</label>
                        <input id="id_username" name="username" type="text" >
                    </div>
                    <div class="input_container">
                        <label for="id_password">Password</label>
                        <input id="id_password" name="password" type="password" >
                    </div>
                    <div class="submit_container">
                        {% if error %}
                        <p class="error_message">{{message}}</p>
                        {% endif %}
                        <button type="submit">Log in</button>
                    </div>
                </form>
                <span>already have acount ?</span>
                <a href="{% url 'users:signup' %}">Signup</a>
            </div>
        </section>
    </section>
</body>
</html>