<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="profile">
            <section class="data">
                <section class="selection">
                    <div class="title">
                        <a href="#" class="button profile"><span>Profile</span> <img src="{% static 'images/icons/scroldown.png' %}" alt=""></a>
                    </div>
                    <div class="reroute">
                        <a href="{% url 'planner:my_orders' %}" class="button"><span>My orders</span> <img src="{% static 'images/icons/scroldown.png' %}" alt=""></a>
                        <a href="{% url 'planner:planner' %}" class="button"><span>Create Order</span> <img src="{% static 'images/icons/scroldown.png' %}" alt=""></a>
                    </div>
                </section>
                <section class="user_data">
                    <form action="" method="post" class="ajax redirect " enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="image_default">

                                {% if not request.user.student.profile_image %}
                                    <div class="image_container">
                                        <img src="{% static 'images/icons/profile.jpg' %}" style="background-color: #fff;" alt="">
                                    </div>
                                    <div class="input_images">
                                        <label for="profile_image">Upload photo : </label>
                                        <input type="file" name="profile_image" accept="image/*">
                                    </div>
                                {% else %}
                                    <div class="image_container">
                                        <img src="{{ request.user.student.profile_image.url }}" alt="Student Image">
                                    </div>
                                    <div class="input_container" >
                                        <span class="edit"><a href="{% url 'user:edit' %}">Change Profile Image 
                                            <img  src="{% static 'images/icons/pencil.svg' %}" alt="profile_image_edit" title="edit.!"></a></span>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="details">
                                <h4>First Name : {{request.user.first_name}}</h4>
                                <h4>Last Name : {{request.user.last_name}}</h4>
                                <h4>Email : {{request.user.email}}</h4>
                            </div>
                            <div class="input">

                                {% if  not request.user.student.mob_number %}
                                    <div class="edit">
                                        <label for="mob_number">Mob Number</label>
                                        <input required type="tel" minlength="10" maxlength="12" name="mob_number" value="">
                                    </div> 
                                {% else %}
                                    <h4>Mobile Number : {{request.user.student.mob_number}}</h4>
                                    <span class="edit"><a href="{% url 'user:edit' %}"><img src="{% static 'images/icons/pencil.svg' %}" alt="edit_number" title="edit.!"></a></span>
                                {% endif%}

                            </div>
                            <div class="input">

                                {% if  not request.user.student.student_id %}
                                    <div class="edit">
                                        <label for="student_id">Student ID</label>
                                        <input  required type="text" name="student_id" value="">
                                    </div>    
                                {% else %}
                                    <h4> Student-ID : {{request.user.student.student_id}}</h4>
                                    <span class="edit"><a href="{% url 'user:edit' %}"><img title="edit.!" src="{% static 'images/icons/pencil.svg' %}" alt="edit_student_id"></a></span>
                                {% endif%}

                            </div>      
                            <div class="submit_container">

                                {% if not request.user.student.mob_number or notrequest.user.student.student_id or  not request.user.student.profile_image %}
                                    <button type="submit">submit</button>
                                {% endif %}

                            </div>               
                        </div>
                    </form>
                </section>
            </section>
    </section>
   
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>