<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="plan">
        <section class="wrapper">
                <div class="top">
                    <div class="date">
                        <h1>{{ today|date:'l' }}</h1>
                        <h4>{{ today|date:'d F Y' }}</h4>
                    </div>
                    <input type="hidden" name="selected_date" id="selected_date_input">
                    <input type="hidden" name="selected_bf" id="selected_bf_input">
                    <input type="hidden" name="selected_lc" id="selected_lc_input">
                    <input type="hidden" name="selected_snacks" id="selected_sk_input">
                    <input type="hidden" name="selected_dr" id="selected_dr_input">
                    <div class="days">
                        <h2>choose a date to book the meals</h2>
                        <ul>
                            
                            
                            {% for day in next_7_days %}
                                
                            <li class="item {% if day in selected_date %}red{% endif %}">
                                {% if day in selected_date %}
                                    <span class="common-date" data-value="{{ day|date:'Y-m-d' }}">
                                        <span>{{ day|date:'D' }}</span>{{ day|date:'d' }}
                                        <h6>booked</h6>
                                    </span>
                                    
                                {% else %}
                                    <a href="#" data-value="{{ day|date:'Y-m-d' }}">
                                        <span>{{ day|date:'D' }}</span>{{ day|date:'d' }}
                                    </a>
                                {% endif %}                        
                            {% endfor %}
                            <!-- {% for day in selected_date %}
                                
                            <li class="item ">
                                <a href="#" class="" data-value="{{ day|date:'Y-m-d' }}" ><span>{{day|date:'D' }}</span>{{day|date:'d' }}</a>
                            </li>
                        {% endfor %} -->
                        </ul>
                    </div>
                </div>
                <div class="meals">   
                        <div class="item">
                            <div class="menu_head">
                                <h3>Breakfast</h3>
                            </div>
                            <div class="menu breakfast">
                                <ul>
                                    {% for meal in breakfast %}
                                        <li class="item">
                                            <span class="radio">
                                                <span class="label"></span>
                                            </span>
                                            <a href="#" data-value="{{ meal.dish_name }}" >{{ meal.dish_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="menu_head">
                                <h3>Lunch</h3>
                            </div>
                            <div class="menu lunch">
                                <ul>
                                    {% for meal in lunch %}
                                        <li class="item">
                                            <span class="radio">
                                                <span class="label"></span>
                                            </span>
                                            <a href="#" data-value="{{ meal.dish_name }}" >{{ meal.dish_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="menu_head">
                                <h3>Evening Snack</h3>
                            </div>
                            <div class="menu snack" >
                                <ul>
                                    {% for meal in snack %}
                                        <li class="item">
                                            <span class="radio">
                                                <span class="label"></span>
                                            </span>
                                            <a href="#" data-value="{{ meal.dish_name }}" >{{ meal.dish_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>      
                        </div>
                        <div class="item">
                            <div class="menu_head">
                                <h3>Dinner</h3>
                            </div>
                            <div class="menu dinner">
                                <ul>
                                    {% for meal in dinner %}
                                        <li class="item">
                                            <span class="radio">
                                                <span class="label"></span>
                                            </span>
                                            <a href="#" data-value="{{ meal.dish_name }}" >{{ meal.dish_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>     
                        </div>
                        <div class="ready">
                            <button href="" class="button">make Selection</button>
                        </div>  
                </div>  
                <div class="duplicate">
                    <form class="ajax redirect" action="" method="post">
                    {% csrf_token %}
                        <h2> Please Confirm Your Selection :</h2>
                        {% for field in form %}
                        <div class="selection">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                            <span class="delete {% cycle 'date' 'breakfast' 'lunch' 'snack' 'dinner' %}">Delete Selection</span>
                        </div>
                        {% endfor %}
                        <div class="submit">
                            <p class="error_message"></p>
                            <button type="submit"> submit </button>
                        </div>
                    </form>
                </div> 
        </section>
    </section>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>