<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="plan">
        <section class="wrapper">
            <div class="top">
                <div class="date">
                    <h1>Thursdsy</h1>
                    <h4>03 augest 2023</h4>
                </div>
                <div class="days">
                    <ul>
                        <li>
                            <a href=""><span>mon</span>04</a>
                        </li>

                        <li>
                            <a href=""><span>tue</span>05</a>
                        </li>

                        <li>
                            <a href=""><span>wed</span>06</a>
                        </li>

                        <li>
                            <a href=""><span>thur</span>07</a>
                        </li>

                        <li>
                            <a href=""><span>fri</span>08</a>
                        </li>

                        <li>
                            <a href=""><span>sat</span>09</a>
                        </li>
                        
                        <li>
                            <a href=""><span>sun</span>10</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="meals">
                <form action="" method="post">
                    <div class="item">
                        <h3>Breakfast</h3>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="dosa"
                            />
                            <span class="radio"></span>
                            <span class="label">dosa with sambar & chutney</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="idli"
                            />
                            <span class="radio"></span>
                            <span class="label">idli with sambar & chutney</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="puttu"
                            />
                            <span class="radio"></span>
                            <span class="label">puttu & kadala curry</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="Appam"
                            />
                            <span class="radio"></span>
                            <span class="label">Appam & Egg Curry</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="porotta"
                            />
                            <span class="radio"></span>
                            <span class="label">porotta & Egg curry</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="kappa"
                            />
                            <span class="radio"></span>
                            <span class="label">kappa & fish curry</span>
                        </label>
                    </div>

                    <div class="item">
                        <h3>Lunch</h3>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="veg_meals"
                            />
                            <span class="radio"></span>
                            <span class="label"> veg meals</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="Non_veg_meals"
                            />
                            <span class="radio"></span>
                            <span class="label">Non veg meals</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="Chicken_Biriyani"
                            />
                            <span class="radio"></span>
                            <span class="label">Chicken Biriyani</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="Chicken_Fried_Rice"
                            />
                            <span class="radio"></span>
                            <span class="label"> Chicken Fried Rice</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="veg_Fried_Rice"
                            />
                            <span class="radio"></span>
                            <span class="label">veg Fried Rice</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="GheeRice"
                            />
                            <span class="radio"></span>
                            <span class="label">GheeRice & Chicken Curry</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="GheeRice_veg"
                            />
                            <span class="radio"></span>
                            <span class="label">GheeRice & Veg Combo</span>
                        </label>
                    </div>

                    <div class="item">
                        <h3>Evening Snack</h3>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="tea_vada"
                            />
                            <span class="radio"></span>
                            <span class="label">Tea & vada</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="tea_samosa"
                            />
                            <span class="radio"></span>
                            <span class="label">Tea & samosa</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="tea_egg_puffs"
                            />
                            <span class="radio"></span>
                            <span class="label">Tea & Egg Puff</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="coffee_vada"
                            />
                            <span class="radio"></span>
                            <span class="label">coffee & vada</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="coffee_samosa"
                            />
                            <span class="radio"></span>
                            <span class="label">coffee & samosa</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="coffee_egg_puffs"
                            />
                            <span class="radio"></span>
                            <span class="label">coffee & Egg Puff</span>
                        </label>
                            

                        
                    </div>
                    <div class="item">
                        <h3>Dinner</h3>
                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="porota_chicken"
                            />
                            <span class="radio"></span>
                            <span class="label">chappathi/porota & chicken curry</span>
                        </label>

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="porota_Egg"
                            />
                            <span class="radio"></span>
                            <span class="label">chappathi/porota & egg curry</span>
                        </label>
                            

                        <label class="radio">
                            <input
                                type="radio"
                                name="sort"
                                value="porota_veg"
                            />
                            <span class="radio"></span>
                            <span class="label">chappathi/porota & Veg curry</span>
                        </label>        
                    </div>
                </form>
                    
            </div>
        </section>
    </section>
</body>
</html>