<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="plan">
        <section class="wrapper">
            <form action="" method="post">
                {% csrf_token %}
                <div class="top">
                    <div class="date">
                        <h1>{{ today|date:'l' }}</h1>
                        <h4>{{ today|date:'d F Y' }}</h4>
                    </div>
                    <input type="hidden" name="selected_date" id="selected_date_input">
                    <div class="days">
                        <ul>
                            {% for day in next_7_days %}
                                <li class="item">
                                    <a href="#" data-value="{{ day }}" ><span>{{day|date:'D' }}</span>{{day|date:'d' }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="meals">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <div class="item">
                            <div class="menu_head">
                                <h3>Breakfast</h3>
                            </div>
                            <div class="menu">
                            {% for meal in breakfast %}
                                <label class="radio">
                                    <input type="radio" name="selected_meals" value="{{ meal.dish_name}}">
                                    <span class="radio"></span>
                                    <span class="label">{{ meal.dish_name }}</span>
                                </label>
                            {% endfor %}

                              
                            </div>
                        </div>

                        <div class="item">
                            <div class="menu_head">
                                <h3>Lunch</h3>
                            </div>
                            <div class="menu">
                                {% for meal in lunch %}
                                    <label class="radio">
                                        <input type="radio" name="selected_meals" value="{{ meal.dish_name}}">
                                        <span class="radio"></span>
                                        <span class="label">{{ meal.dish_name }}</span>
                                    </label>
                                {% endfor %}
                            
                               
                            </div>
                        </div>

                        <div class="item">
                            <div class="menu_head">
                                <h3>Evening Snack</h3>
                            </div>
                            <div class="menu">
                            
                                {% for meal in snack %}
                                    <label class="radio">
                                        <input type="radio" name="selected_meals" value="{{ meal.dish_name}}">
                                        <span class="radio"></span>
                                        <span class="label">{{ meal.dish_name }}</span>
                                    </label>
                                {% endfor %}
                            
                        </div>
                        <div class="item">
                            <div class="menu_head">
                                <h3>Dinner</h3>
                            </div>
                            <div class="menu">
                            
                            {% for meal in dinner %}
                                <label class="radio">
                                    <input type="radio" name="selected_meals" value="{{ meal.dish_name}}">
                                    <span class="radio"></span>
                                    <span class="label">{{ meal.dish_name }}</span>
                                </label>
                            {% endfor %}
                            </div>     
                        </div>
                        <div class="submit">
                            <button type="submit"> submit </button>
                        </div>
                    </form>
                        
                </div>
            </form>
        </section>
    </section>

    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>